/* *****************************************************************************
 * Resolutions:
 *
 *   Apple Devices:
 *     iPhone 4S:   960 x  640 @ 326 ppi
 *     iPhone 4:    960 x  640 @ 326 ppi
 *     iPhone 3Gs:  480 x  320 @ 163 ppi
 *     iPad 3:     2048 x 1536 @ 264 ppi
 *     iPad 2:     1024 x  768 @ 132 ppi
 *     iPad 1:     1024 x  768 @ 132 ppi
 *
 *   Android Spec:
 *     xlarge:      960 x 720
 *     large:       640 x 480
 *     normal:      470 x 320
 *     small:       426 x 320
 *
 *   Motorola Devices:
 *      240 x  400 @ 120 dpi   (A1260)
 *      320 x  240 @ 120 dpi   (CHARM CITRUS FIRE FLIPOUT MOTO SPICE)
 *      320 x  480 @ 160 dpi   (DEFY FIRE iXXX MOTO* SPICE TITANIUM XPRT)
 *      480 x  640 @ 240 dpi   (ADMIRAL MOTO PRO+)
 *      480 x  800 @ 240 dpi   (MOTO MOTOLUXE TRIUMPH)
 *      480 x  854 @ 240 dpi   (ATRIX BRAVO CLIQ DEFY DROID MILESTONE MOTO*)
 *      540 x  960 @ 240 dpi   (ATRIX DROID ELECTRIFY MILESTONE PHOTON RAZR)
 *      720 x 1280 @ 320 dpi   (MOTO)
 *     1280 x  800 @ 160 dpi   (XOOM, XYBOARD)
 * ************************************************************************** */

/**
 * jQuery Mobile Overrides
 */

.ui-page {
    -webkit-backface-visibility: hidden;
}

.ui-content {
    padding: 8px !important;
}

.ui-icon-cross {
    background: url(../img/cross.png) no-repeat !important;
    padding-left: 22px;
}

.ui-btn-inner {
    font-size: 12px;
}

.big-btn {
    background: url(../img/btn-bg.png) repeat-x !important;
    width: 100% !important;
    height: 33px !important;
    margin: 0 !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}

.big-btn .ui-btn-text {
    font-size: 14px !important;
    color: #0b355c !important;
    background: url(../img/cross.png) no-repeat scroll 0px 1px transparent;
    /*padding-left: 19px;*/
    height: 14px;
}

.big-btn .ui-icon {
    display: none;
}

.no-icon .ui-btn-text {
    background: none !important;
}

.ui-bar-a {
    text-shadow: none !important;
}

.ui-bar-b {
    border: none;
}

.btn-cont {
    float: left;
    margin-bottom: 16px;
    width: 100%;
}

.page-content {
    background: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: left;
    width: 100%;
}


/**
 * Header bits.
 */

.header {
    z-index: 2;
}

.logo {
    width: 320px;
    height: 42px;
}

/* Header - Control buttons */
.header-button {
    height: 28px;
    padding-top: 8px;
}

.left-button {
    float: left;
    padding-left: 3px;
}

.right-button {
    float: right;
    padding-right: 3px;
}

/* Header - Card information bar */
div.card-select-bar {
    height: 30px;
    text-shadow: 0px 1px 0px #fff;
}

div.card-bits {
    background: -moz-linear-gradient(#FFF, #DDD);
    background: -webkit-linear-gradient(#FFF, #DDD);
    border-bottom: 1px solid #BBB;
    padding: 1px 0 0 0 !important;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(50, 50, 100, 0.5);
}

div.card-bits span.card-type {
    color: #06467C;
    font-weight: bold;
    font-size: 10.2pt;
    padding: 0;
    margin: 0;
    line-height: 2.25em;
    padding-left: 8px !important;
}

div.card-info {
    float: right;
    border-left: 1px solid #FFF;
    margin: 0;
    padding: 0 0 0 8px;
    height: 30px;
    overflow: hidden;
    width: 122px;
}

img.card-img {
    height: 28px;
    padding-top: 1px;
}

div.second-left-border {
    float: right;
    padding: 0;
    margin: 0;
    border-left: 1px solid #AAA;
}

div.card-info div.ui-select {
    float: right;
    font-size: 15pt;
    height: 30px;
}

div.card-info div.ui-select .ui-btn-corner-all {
    border: none;
    border-radius: 0 0 0 0;
    background: inherit;
}

div.card-info div.ui-select span.ui-btn-inner {
    padding-left: 0;
    padding-right: 30px !important;
    color: #000;
    text-shadow: 0px 1px 0px #fff;
}

div#last-4-digits {
    padding-top: 0;
    margin-top: 0;
    width: 122px;
}

/* Header - Payment bar */
.payment-due-notice {
    height: 30px;
    width: 100%;
    padding: 0;
    text-shadow: none;
    color: #000;
    border-bottom: 0;
}

.payment-due-label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 6.2pt;
    line-height: 1.15em;
    padding: 6px 7px 6px 8px;
    color: #666;
    float: left;
}

.payment-value {
    font-size: 12pt;
    font-weight: bold;
    line-height: 30px;
    float: left;
    color: #000;
}

.right-border {
    border-right: 1px solid #AAA;
}

div.payment-due-notice div.right-border {
    width: 48% !important;
}

.left-border {
    border-left: 1px solid #FFF;
}

div.payment-due-notice div.left-border {
    width: 49% !important;
}

/**
 * Common page elements
 */

/* Page headings have a common look */
.page-heading {
    text-align: center;
    font-size: 14pt;
    color: white;
    text-shadow: none;
    margin-top: 7px;
}

.hidden {
    display: none;
}


/**
 * Main Menu
 */

#main-list {
    padding-top: 2px;
}

#main-menu-nav {
    /*width: 320px;*/
    padding: 5px;
}

div.main-menu-item-cont {
    height: 106px;
    max-height: 106px;
    width: 104px !important;
    max-width: 104px !important;
}

div.center-button {
    width: 101px !important;
    max-width: 101px !important;
}

div.second-row {
    height: 108px;
    max-height: 108px;
}

img.main-menu-item {
    height: 100%;
    width: 100%;
}


/**
 * Recent Transactions page
 */
ul#transactions-list li div.list-cal {
    float: left;
    width: 60px;
    padding: 2px 2px 0 0;
    overflow: auto;
    border-right: 1px solid #CCCCCC;
    height: 3.0em;
}

div.cal-top {
    font-size: 7pt;
    text-align: center;
    color: #666;
    overflow: none;
}

div.cal-bot {
    font-size: 16pt;
    text-align: center;
    line-height: 0.9em;
    overflow: none;
}

ul#transactions-list li div.list-partial {
    float: left;
    overflow: auto;
    padding: 4px 10px;
    color: $FONT_COLOR;
}

div.part-name {
    font-weight: bold;
    font-size: 9pt;
    padding-top: 0.0em;
    max-width: 130px;
    overflow: hidden;
}

div.part-addr {
    font-weight: normal;
    font-size: 9pt;
    line-height: 1.2em;
}

div.part-payment {
    font-weight: bold;
    font-size: 9pt;
    line-height: 1.9em;
    padding: 0.5em 16px 0.5em 0px !important;
}

ul#transactions-list li div.list-amount {
    float: right;
    margin-right: 25px;
    overflow: auto;
    font-size: 9pt;
    line-height: 3em;
}

ul#transactions-list a.ui-link-inherit {
    padding: 0.5em 16px 0.5em 0px !important;
}

ul#transactions-list div.ui-btn-inner {
    padding: 0 !important;
}

div.search-terms {
    height: 30px;
    position: fixed;
    text-shadow: none;
    width: 100%;
    z-index: 2;
}

div.search-terms > div {
    background-color: #DBE9F4;
    border: 1px solid #9FBBD0;
    border-radius: 3px !important;
    color: #235F95;
    float: left;
    font-size: 8pt;
    height: 20px;
    margin: 4px 0 4px 10px;
    padding: 0 0 0 4px;
}

div.search-terms > div > span {
    line-height: 20px;
}

div.search-terms > div > span.cancel {
    display: inline-block;
    height: 20px;
    width: 18px;
    margin: -2px 0 0 3px;
    padding: 0;
    background-image: url(../img/blue-cancel.png);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: 18px 17px;
    -moz-background-size: 18px 17px;
    background-size: 18px 17px;
}

/**
 * Recent Transaction Detail page
 */
div.charge-details,
div#charge-list {
    color: #ffffff;
    text-shadow: none;
}

div.charge-details {
    padding-top: 0 !important;
}

div.charge-details div.ui-content {
    padding: 5px 0 !important;
}

div.charge-details li.ui-li {
    padding: 0.3em 10px !important;
}

div#charge-list div.heading {
    text-align: center;
    font-size: 14pt;
    color: $HEADING_FONT_COLOR;
}

.detail-type {
    color: $FONT_COLOR;
    font-size: 7.5pt;
    line-height: 1.7em;
    white-space: nowrap;
    width: 35%;
}

ul.charge-details-values li {
    padding: 8px 5px;
}

ul.charge-details-values li div.ui-grid-b {
    padding: 5px 0px;
}

ul.charge-details-values li div.double {
    width: 65%;
    font-size: 8.8pt;
    padding-left: 5px;
    line-height: 1.4em;
}

.top-border {
    border-top: 1px solid #CCC;
}

#dispute-button span.ui-btn-inner span.ui-btn-text {
    padding-left: 20px !important;
}

.map {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 200px;
    width: 288px;
}


/**
 * Dispute page
 */
.dispute-header {
    text-align: center;
    background: -moz-linear-gradient(top, #e11b21 0%, #a01418 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e11b21),
        color-stop(100%, #a01418) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e11b21 0%, #a01418 100%);
    color: white;
    text-shadow: none;
}

.dispute-short-msg {
    width: 70px;
    margin: 0 auto;
    height: auto;
    padding-left: 25px;
    background: url("../img/chk-icon.png") no-repeat scroll 0 -2px transparent;
}

.dispute-detailed-msg {
    color: #353535;
    font-size: 13px;
    font-weight: bold;
    float: left;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}


/**
 * Payment page
 */

.payment-form-label {
    font-size: 10pt;
    font-weight: bold;
    font-family: Arial;
    color: #0A4C83;
}

.payment-form-label.late {
    color: #ED351C;
}

.payment-data {
    font-family: Arial;
    font-weight: regular;
    color: #353535;
}

.estimated-post-date {
    background: #DDEDF8;
    border-top: 0;
}

li.late {
    background: #F6CFC3;
}

.payment-account-label {
    font-size: 10pt;
    font-weight: bold;
    font-family: Arial;
    color: #0a4c83;
}

.payment-account-data {
    font-size: 10pt;
    font-weight: normal;
    font-family: Arial;
    color: #656565;
}

.available-balance-label {
    font-size: 10pt;
    font-weight: bold;
    font-family: Arial;
    color: #656565;
    text-align: right;
}

.available-balance-data {
    font-size: 10pt;
    font-weight: normal;
    font-family: Arial;
    color: #656565;
    text-align: right;
}

.submit-button {
    padding: 2px;
    width: 300px;
}


/**
 * Payment Confirmation page
 */

.payment-confirmation {
    border-collapse: collapse;
    font-family: Arial;
    font-size: 9pt;
    font-weight: bold;
    line-height: 2em;
    white-space: nowrap;
    width: 100%;
}

.payment-confirmation table,
.payment-confirmation tbody,
.payment-confirmation tr,
.payment-confirmation td {
    padding: 0;
    margin: 0;
}

tr.border-bottom td {
    border-bottom: 1px solid #BBB;
}

.confirm-label {
    color: #2073ae;
    width: 30%;
}

.confirm-value {
    color: #333333;
    width: 70%;
}



/**
 * Select Payment Account page
 */

.available-payment-account {
    color: #2073ae;
    font-family: Arial;
    font-size: 11pt;
    font-weight: bold;
    line-height: 28.8px;
    text-align: left;
}

li.add-payment-account {
    background-size: 100% 100%;
    padding: 0px 0px 0px 0px;
}

span.add-payment-account {
    color: #6b6b6b;
    font-size: 11pt;
    font-weight: bold;
    line-height: 28.8px;
}

/**
 * Add New Payment Account page
 */
.check-image {
    padding-bottom: 0;
    padding-top: 10px;
    width: 280px;
}


/**
 * Dispute page
 */
.dispute-header {
    text-align: center;
    background: -moz-linear-gradient(top, #e11b21 0%, #a01418 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e11b21),
        color-stop(100%, #a01418) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e11b21 0%, #a01418 100%);
    color: white;
    text-shadow: none;
}

.dispute-short-msg {
    width: 70px;
    margin: 0 auto;
    height: auto;
    padding-left: 25px;
    background: url("../img/chk-icon.png") no-repeat scroll 0 -2px transparent;
}

.dispute-detailed-msg {
    color: #353535;
    font-size: 13px;
    font-weight: bold;
    float: left;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}


/**
 * Survey page
 */
.help-msg {
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0 15px 0;
    text-align: center;
}

.survey {
    width: 100%;
    float: left;
}

#survey p {
    color: #353535;
    font-size: 13px;
    font-weight: bold;
    float: left;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}

#survey textarea {
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}

#survey ul.rating {
    border: 1px solid #b7b7b7;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    -webkit-box-shadow: 0 8px 6px -8px #ccc;
    -moz-box-shadow: 0 8px 6px -8px #ccc;
    box-shadow: 0 8px 6px -8px #ccc;
    list-style-type: none;
    float: left;
    padding: 0 !important;
    width: 280px;
    margin: 0;
    margin-bottom: 10px;
}

.no-border {
    border: 0 !important;
}

.survey-section {
    clear: left;
    float: left;
    width: 280px;
    padding: 10px;
    border-bottom: 1px solid #cccdcd;
}

#survey ul.rating li {
    border-right: 1px solid #b7b7b7;
    border-left: 1px solid #fff;
    background: url("../img/rating-bg.png") repeat-x;
    width: 54px;
    height: 33px;
    display: inline;
    float: left;
}

#survey ul.rating li span.star {
    background: url("../img/stars.png") no-repeat;
    width: 21px;
    height: 21px;
    background-position: 0 0;
    float: left;
    margin: 5px 0 5px 16px;
}

#survey ul.rating li span.star-act {
    background: url("../img/stars.png") no-repeat;
    width: 21px;
    height: 21px;
    background-position: -23px 0;
    float: left;
    margin: 5px 0 5px 16px;
}

#survey ul.rating li.first {
    -webkit-border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
}

#survey ul.rating li.last {
    -webkit-border-radius: 0px 4px 4px 0px;
    -moz-border-radius: 0px 4px 4px 0px;
    border-radius: 0px 4px 4px 0px;
    border-right: 0 !important;
}

#survey div.btn-cont {
    padding-top: 10px;
}


/**
 * Chat page
 */
.logo-chat {
    width: 320px;
    height: 42px;
}

.chat-bubble-container {
    background-color: #CCCCCC;
    height: 150px;
    width: 100%;
    padding: 10px 5px 0 0 !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.chat-bubble {
    width: 295px;
    height: 55px;
}

#question {
    color: gray;
}
